/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

.modal-header {
	background-color: #59323C;
	color: #F2EEB3;
}

.navbar.navbar-default {
	background: #59323C;
}

ul.nav.navbar-nav a, ul.nav.navbar-nav > li.active a {
	color: #F2EEB3;
}

ul.nav.navbar-nav > li.active a {
	background: #260126;
}

ul.nav.navbar-nav li a:focus, ul.nav.navbar-nav li a:hover {
	color: #8C6954;
}

ul.nav.navbar-nav > li.active a {
	background: #260126;
}

div, .navbar-nav {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

div {
	color: #260126;
}

a, a:hover {
	color: #260126;
}

.dropdown-toggle {
}

ul.dropdown-menu li a, ul.dropdown-menu li a:hover {
	background-color: #59323C;	
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #59323C;
	color: #8C6954;
}

.btn.btn-primary, .btn.btn-primary:focus {
	background: #59323C;
	border-color: #59323C;
	color: #F2EEB3;
}

.btn.btn-primary:hover {
	color: #8C6954;
}

html {
	background: #BFAF80;
}

.well {
	background: #BFAF80;
	border: 1px solid #260126;
	text-align: center;
}

.well img {
	width: 300px;
	height: 200px;
}